.swipeButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  .swipeButtons {
    margin-top: 10rem;
  }
}

.swipeButtons > img > {
  max-width: 50px;
}

.event__button {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 66px;
  width: 66px;
  border-radius: 56px;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: linear-gradient(
    206.9deg,
    rgba(245, 187, 187, 0.1) -0.95%,
    rgba(0, 0, 0, 0.085) 151.29%
  );
}

.event__button > img {
  width: 20px;
  margin-top: 23px;
}

.interested__button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 70px;
  background: linear-gradient(
    206.9deg,
    rgba(245, 187, 187, 0.1) -0.95%,
    rgba(0, 0, 0, 0.085) 151.29%
  );
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.interested__button > img {
  width: 26px;
}

.event__button:active {
  transform: scale(0.96);
  transform: translateY(2px);
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.05);
}

.interested__button:active {
  transform: scale(0.96);
  transform: translateY(2px);
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.05);
}
