.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swipeButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 12px;
}
.swipeButtons > img > {
  max-width: 50px;
}

.event__button {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 56px;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: linear-gradient(
    215.27deg,
    rgba(245, 187, 187, 0.1) -70.83%,
    rgba(0, 0, 0, 0.085) 244.44%
  );
}

.event__button > img {
  width: 20px;
  margin-top: 20px;
}

.interested__button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  border-radius: 70px;
  background: linear-gradient(
    215.27deg,
    rgba(245, 187, 187, 0.1) -70.83%,
    rgba(0, 0, 0, 0.085) 244.44%
  );
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.interested__button > img {
  width: 26px;
}

.event__button:active {
  transform: scale(0.96);
  transform: translateY(2px);
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.05);
}

.interested__button:active {
  transform: scale(0.96);
  transform: translateY(2px);
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.05);
}

.heart__animation {
  position: absolute;
  opacity: 0.8;
  top: 150px;
  width: 250px;
}

.is__animating {
  display: block;
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(-0px, -26px) scaleX(1) scaleY(1);
  }
  100% {
    opacity: 1;
    transform: translate(-0px, 280px) scaleX(0.5) scaleY(0.5);
  }
}

.notification {
  display: flex;
  justify-content: center;

  margin: 0 auto;
}
