.swipeButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 1rem;
}

.swipeButtons > img > {
  max-width: 50px;
}

.event__button {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 56px;
  border: 1px solid #f5bbbb;
}

.event__button > img {
  width: 20px;
  margin-top: 17px;
}

.interested__button {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  border: 1px solid #f5bbbb;
}
