.container {
  padding-top: 6rem;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    padding-left: 300px;
    max-width: 800px;
  }
}

.container > h1 {
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 39px;
  max-width: 80%;
  margin: 1rem 0;
}

.paragraphs {
  display: flex;
  flex-direction: column;
}

.paragraphs > p {
  margin-bottom: 1rem;
  font-size: 18px;
}
