.createEvent__container {
  overflow: initial;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 6rem;
}
/* MOVE INDEX TO MIDDLE IN DESKTOP vieW */
@media (min-width: 1200px) {
  .createEvent__container {
    margin-left: 480px;
  }
}

.createEvent__container > h2 {
  margin-right: 3rem;
}

.headline {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 1rem;
}

.createEvent__container > p {
  text-align: center;
  font-style: italic;
}

.event__form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.event__form > div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
}

.event__form > div > label {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.event__form > div > textarea {
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: 400;
  background-color: white;
  color: black;
  border-radius: 8px;
  height: 200px;
  left: 40px;
  font-size: 18px;
  text-indent: 10px;
  resize: none;
}

.event__form > div > input {
  background-color: white;
  color: black;
  border-radius: 8px;
  height: 45px;
  left: 40px;
  font-size: 18px;
  text-indent: 10px;
  align-items: center;
}

.post__button {
  text-align: center;
  background-color: #de6a7c;
  padding: 10px 38px;
  border-radius: 10px;
  font-weight: 600;
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 8rem;
}

.what__buttonContainer {
  display: grid;
  margin-top: 18px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.what__buttonContainer > li {
  border-radius: 20px;
  cursor: pointer;
  padding: 4px 0px;
}

.active {
  background: rgba(245, 187, 187, 0.8);
}

.location_search_input {
  background-color: white;
  color: black;
  border-radius: 8px;
  height: 45px;
  left: 40px;
  font-size: 18px;
  text-indent: 10px;
  width: 100%;
}

.autocomplete_dropdown {
}

.map__container {
  margin-bottom: 2rem;
}
