.container {
  overflow-y: scroll;
  height: 100%;
}

.createEvent__container {
  margin: 0 auto;
  margin-top: 6rem;
  width: 80%;
  max-width: 500px;
  height: 100% !important;
}

/* MOVE INDEX TO MIDDLE IN DESKTOP vieW */
@media (min-width: 1200px) {
  .container {
    width: auto;
    margin-left: 300px;
  }
  .createEvent__container {
    width: 500px;
  }
}

.createEvent__container > h2 {
  margin-right: 3rem;
}

.headline {
  text-align: left;
  max-width: 300px;

  margin-top: 1rem;
}

.createEvent__container > p {
  font-style: italic;
}

.event__form {
  max-width: 600px;
}

.event__form > div {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  padding: 20px 0px;
  text-align: left;
}

.event__form > div > label {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.event__form > div > textarea {
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: 400;
  background-color: white;
  color: black;
  border-radius: 8px;
  height: 200px;
  left: 40px;
  font-size: 18px;
  text-indent: 10px;
  resize: none;
}

.event__form > div > input {
  background-color: white;
  color: black;
  border-radius: 8px;
  height: 45px;
  left: 40px;
  font-size: 18px;
  text-indent: 10px;
  align-items: center;
}

.post__button {
  text-align: center;
  background-color: #de6a7c;
  padding: 10px 38px;
  border-radius: 10px;
  font-weight: 600;
  width: 72%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.post__button:hover {
  transform: scale(0.99);
}

.what__buttonContainer {
  display: grid;
  margin-top: 18px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.what__buttonContainer > li {
  border-radius: 20px;
  cursor: pointer;
  padding: 4px 0px;
}

.active {
  background: rgba(245, 187, 187, 0.8);
}

.location_search_input {
  background-color: white;
  color: black;
  border-radius: 8px;
  height: 45px;
  left: 40px;
  font-size: 18px;
  text-indent: 10px;
  width: 100%;
}

.autocomplete_dropdown {
}

.map__container {
  margin-bottom: 2rem;
  z-index: 0;
}

.preview {
  position: relative;
  width: 100%;
  height: 58vh;
  max-height: 700px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0 auto;
  margin-top: 1rem;
}

/* CARD DATA */
.preview > h3 {
  position: absolute;
  bottom: 80px;
  left: 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  max-width: 260px;
}

.location__container {
  font-size: 18px;
  position: absolute;
  display: flex;
  bottom: 50px;
  left: 18px;
}
.location__container > img {
  margin-right: 5px;
}

.date__container {
  font-size: 18px;
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 18px;
}

.date__container > img {
  margin-right: 5px;
}

.card__heart {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 30px;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
}

.map {
  width: 100%;
  height: 200px;
}
.gradient {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000000 120%);
  border-radius: 0px 0px 16px 16px;
}

.error {
  margin-top: 4px;
  color: red;
}
