.content {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 600px;
  height: 80vh;
  max-height: 80vh;
  padding: 3rem;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 6rem;
}

.container {
  height: 100vh;
}
.content > h1 {
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 30.2843px;
  line-height: 38px;

  color: #f8d2d2;
}

.header__info {
  display: flex;
  justify-content: space-between;
}

.header__info > div {
  display: flex;
  font-size: 16px;
  font-weight: 200;
  gap: 10px;
}
.header__info > div > img {
  margin-right: 5px;
}

.description {
  margin-top: 1rem;
  font-size: 18px;
  line-height: 25px;
  height: 40%;
  font-weight: 200;
}

.footer__btns {
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -116px;
  bottom: 4rem;
  flex-direction: column;
  margin-top: 1rem;
}

.action__btn {
  text-align: center;
  background-color: #de6a7c;
  padding: 8px 0px;
  border-radius: 10px;
  font-weight: 600;
  width: 232px;
  margin: 0 auto;
  color: white;
  line-height: 25px;
  letter-spacing: 0.06em;
}

.bottom__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 232px;
  margin-top: 1rem;
}

.share__btn {
  color: white;
  background: rgba(255, 255, 255, 0.18);
  border: 0.85277px solid #ffffff;
  box-sizing: border-box;
  border-radius: 13px;
  padding: 5px 15px;
}
