.cards__container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  height: 60vh;
  align-self: center;
  align-items: center;
  /* overflow: hidden; */
}

.card {
  position: relative;
  perspective: 800px;
  transition: transform 1s ease;
}

.card > * {
  backface-visibility: hidden;
  width: 10rem;
  transition: transform 1s ease;
  background-color: black;
  user-select: none;
}

.card__front {
  position: relative;
  width: 80vw;
  max-width: 500px;
  height: 58vh;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media (min-height: 800px) {
  .card__front {
    margin-bottom: 1rem;
  }
  .cards__container {
    margin-top: 7rem;
  }
}

/* CARD DATA */
.card__front > h3 {
  position: absolute;
  bottom: 132px;
  left: 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  max-width: 90%;
}

.location__container {
  font-size: 18px;
  position: absolute;
  display: flex;
  bottom: 104px;
  left: 18px;
  align-items: center;
}

.location__container > img {
  margin-right: 5px;
  height: 20px;
}

.date__container {
  font-size: 18px;
  position: absolute;
  display: flex;
  bottom: 76px;
  left: 18px;
  align-items: center;
}

.date__container > img {
  margin-right: 5px;
  height: 20px;
}

.categories__container {
  position: absolute;
  bottom: 44px;
  left: 20px;
  display: flex;
  font-size: 14px;
}

.categories__container > p {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 3px 8px;
  border-radius: 4px;
  margin-right: 6px;
}
.card__distance {
  position: absolute;
  left: calc(50% - 38px);
  bottom: 10px;
  opacity: 0.6;
  font-weight: 500;
}
.card__heart {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 30px;
  bottom: 42px;
  right: 20px;
  opacity: 0.8;
}

.swipe {
  position: absolute;
}

.noCards__container {
  margin-top: 2rem;
  max-width: 220px;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.noCards__container > button {
  display: flex;
  background-color: #de6a7c;
  padding: 8px 38px;
  border-radius: 10px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.noCards__container > button:hover {
  transform: scale(0.99);
}

.gradient {
  position: absolute;
  bottom: 0;
  height: 400px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000000 80%);
  border-radius: 0px 0px 16px 16px;
}

.animateOut {
  animation: animationFrames linear 0.3s;
}

.heart__animation {
  position: absolute;
  opacity: 0.8;
  top: 10%;
  width: 100%;
  display: block;
  animation: animationFrames linear 0.3s;
  animation-iteration-count: 1;
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: scale(0);
    /* transform: translate(-0px, -26px) scaleX(1) scaleY(1); */
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}

.pulse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  /* background-color: rgba(245, 187, 187, 0.1); */
  border-radius: 50%;
  animation: pulse 2.5s infinite;
}

.location__icon {
  width: 50px;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(245, 187, 187, 0.1);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 30px rgba(245, 187, 187, 0);
  }
  100% {
    transform: scale(0.95);
  }
}

/* .animateBack {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
  transition: visibility 1s, opacity 1s, transform 0.3s linear !important;
} */

.pin {
  color: white;
}
