/* animate menu in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    bottom: -1000px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes slideUpMobile {
  0% {
    bottom: -1000px;
  }

  100% {
    bottom: 0px;
  }
  /* 0% {
    top: 1000px;
  }
  100% {
    top: 105px;
  } */
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    z-index: 98;
    margin-left: 40px;
  }
  .filter {
    animation-name: slideUp;
  }
}

.filter {
  animation-name: slideUpMobile;
  animation-duration: 1s;
  position: absolute;
  bottom: 0;
  margin-top: 10rem;
  border-radius: 20px 20px 0px 0px;
  height: 70vh;
  max-height: 580px;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  background-color: #161618;
  z-index: 99;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header > div {
  display: flex;
}

.header > div > img {
  margin-right: 8px;
}
.header > p {
  margin-top: -8px;
}

.close_btn {
  position: absolute;
  right: 25px;
  top: 30px;
  cursor: pointer;
}

.filter__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.what__container {
  width: 80%;
  margin: 0 auto;
}

.what__headline {
  display: flex;
  align-items: baseline;
}

.where__headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.what__container > div > h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
  margin-right: 4px;
}

.what__container > div > p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.5);
}

.tinyText {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.5);
}

.what__buttonContainer {
  display: grid;
  margin-top: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.what__buttonContainer > li {
  border-radius: 20px;
  cursor: pointer;
  padding: 4px;
}
.when__buttonContainer {
  display: grid;
  margin-top: 8px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.when__buttonContainer > li {
  border-radius: 20px;
  cursor: pointer;
  padding: 4px;
}

.maxKmText {
  font-size: 2px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}

.line {
  height: 1px;
  width: 300px;
  color: gray;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 10px;
}

.active {
  background: rgba(245, 187, 187, 0.8);
}

.slider {
  padding: 8px;
  height: 10px;
  color: green;
  margin-bottom: 10px;
}
