/* animate menu in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    top: 1000px;
  }
  100% {
    top: 250px;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;

  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.filter {
  animation-name: slideUp;
  animation-duration: 1s;
  position: absolute;
  bottom: 0;
  margin-top: 10rem;
  border-radius: 20px 20px 0px 0px;
  height: 70vh;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  background-color: #161618;
  z-index: 99;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}
.header > h1 {
  margin-right: 5rem;
}
