@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #161618;
  background-color: #0e0e0e;
  font-family: Saira Condensed;
  color: #f8d2d2;
  max-height: 100%;
  /* overflow: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  /* overflow: hidden; */
}

button {
  all: unset;
}

ul {
  all: unset;
}
input,
li {
  all: unset;
}
