.index__container {
  overflow: hidden;
  /* overflow-y: scroll; */
  height: 100vh;
}
/* MOVE INDEX TO MIDDLE IN DESKTOP vieW */
@media (min-width: 1200px) {
  .index__container {
    margin-left: 280px;
  }
}
