.cards {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.cards > h3 {
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  line-height: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.06);
  margin: 0 auto;
  margin: 2px 0px;
}

.card__content {
  display: flex;
  margin: 0 auto;
  min-width: 90%;
}

.card__content > img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  margin-left: 1rem;
  padding: 1px;
  height: 80px;
}

.info > h1 {
  font-size: 20px;
  max-width: 230px;

  font-weight: 600;
}
.info > p {
}
