.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 6rem;
  width: 80%;
  max-width: 500px;
}

/* MOVE INDEX TO MIDDLE IN DESKTOP vieW */
@media (min-width: 1200px) {
  .cards {
    top: 150px;
    position: relative;
    left: 190px;
    margin: 0 auto;
  }
}

.cards > h3 {
  font-family: Saira Condensed;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 1rem;
  line-height: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 110px;
  width: 100%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.06);
  margin: 0 auto;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 8px;
}

.card__content {
  display: flex;
  margin: 0 auto;
  min-width: 90%;
}

.img__container > img {
  margin-left: 1rem;
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  font-weight: 300;

  line-height: 19px;
  margin-left: 1rem;
  padding: 1px;
  height: 80px;
}

.info > h1 {
  font-size: 20px;
  /* max-width: 230px; */
  margin-bottom: 6px;
  font-weight: 600;
}
.info > p {
  font-size: 18px;
  margin-bottom: 4px;
}

.swipeButton {
  background-color: #de6a7c;
  padding: 10px 38px;
  border-radius: 10px;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 1rem;
}
