.cards {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 130px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.06);
  margin: 1px 0px;
}

.card__content {
  display: flex;
  margin: 0 auto;
  min-width: 90%;
}

.card__content > img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.info {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  margin-left: 1rem;
  padding: 1px;
}

.info > h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}
.info > p {
  padding: 1px;
}
