.headline {
  margin-top: 6rem;
  margin-left: 38px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* MOVE INDEX TO MIDDLE IN DESKTOP vieW */
@media (min-width: 1200px) {
  .container {
    margin-left: 320px;
    grid-template-columns: 1fr;
  }
  .container > h2 {
    margin-left: 300px;
    background-color: rosybrown;
  }
  .event__container {
    background-color: white;
    padding: 20px;
    color: #161618;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 12px;
  }
}

.container > h2 {
  margin-left: 20px;
}

.event__container {
  background-color: white;
  padding: 20px;
  color: #161618;
  width: 300px;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 12px;
}

.event__container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 10px 0px;
}

.event__container > div > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 4px;
  margin-top: 4px;
  max-width: 150px;
}

.pending {
  background: #dfe227;
  padding: 4px 12px;
  min-width: 80px;
  text-align: center;
  color: white;
  font-weight: 600;
  border-radius: 7px;
}

.active {
  background: #45dd94;
  padding: 4px 12px;
  min-width: 80px;
  text-align: center;
  color: white;
  font-weight: 600;
  border-radius: 7px;
}

.declined {
  background: #e91414;
  padding: 4px 12px;
  min-width: 80px;
  text-align: center;
  color: white;
  font-weight: 600;
  border-radius: 7px;
}

.line {
  height: 4px;
  width: 100%;
  opacity: 0.1;
  margin-top: 6px;
  margin-bottom: 6px;
  color: black;
  background-color: black;
}

.bottom {
  margin-bottom: -12px;
}
