.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: white;
  padding-top: 2rem;
  width: 80vw;
  max-width: 400px;
  /* max-width: 80vw; */
  left: 50%;
  transform: translateX(-50%);
}
.navbar__container > img {
  cursor: pointer;
  user-select: none;
}

.avatar {
  width: 35px;
  border-radius: 500px;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.hamburger {
  padding-top: 10px;
  padding-bottom: 10px;
  user-select: none;
}

@media (min-width: 1200px) {
  .navbar__container {
    /* justify-content: center; */
    width: 600px;
    margin-left: 150px;
  }
  /* .hamburger {
    display: none;
  }
  .avatar {
    display: none;
  } */
}
