.content {
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
  padding-top: 6rem;
}

@media (min-width: 1200px) {
  .content {
    margin: 0 auto;
    padding-left: 320px;
    padding-top: 8rem;
  }
}

.title {
  font-size: 18px;
}

.content > p {
  max-width: 260px;

  margin-top: 1rem;
}

.upgrade__btn {
  display: flex;
  background-color: #de6a7c;
  padding: 10px 38px;
  border-radius: 10px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 3rem;
  cursor: pointer;
}
